# colcon/CMake output
build
install
log

# python
__pycache__/
*.egg-info/

# misc
.vscode
.DS_Store
outputs/

# data & checkpoints
visual_features/
processed_data/
checkpoints/

### Ferdinand
Miniforge3-Linux-x86_64.sh
*.pkl
data_to_process/
raw_data/
backup_data/
converted_pkls_for_test/
test_rollout_output/
training_data/
raw_data_train/
raw_data_eval/
check_blur_outputs/
checkpoints_bld/
test_rollout_output_bld/